.dict {
  z-index: 9999999999999999999;
  position: absolute;
  background-color: #eee;
  padding: 5px;
}

.dict ul {
  padding: 0 !important;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  counter-reset: steps;
  margin: 3px !important;
}
.dict ul li {
  counter-increment: steps;
  padding: 0 !important;
  list-style: none !important;
  margin-bottom: 3px !important;
  color: black;
}
.dict ul li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #50bcdf;
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}

.alert-chrome-extension {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 50px;
  color: #2a64f0;
  z-index: 999999999;
  font-weight: bold;
}

.fade-in {
  opacity: 1;
  transition: 1s;
}

.fade-out {
  opacity: 0;
  transition: 1s;
}
